
 #radar {
     height: 750px;
     width: 750px;
     border: double black 5px;
}

 .mapLegend{
     float: right;
     display: block;
     border: double black 5px;
     border-right: none;
     padding: 1em;
     padding-right: 10%;
     margin: 0.7em;
 }

 #litems{
     font-size: 1.5em;
 }