html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#view {
    position: relative;
    top: 5vh;
}

#right {
    float: right;
    margin-right: 5%;
    overflow-y: auto;
    height: 20vh;
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translate(275%, -50%)
}
@media only screen and (min-width: 768px){
    #right {
        height: 50vh;
    }
}
@media only screen and (min-width: 1260px){
    #right {
        height: 75vh;
    }
}

ul {
    list-style-type: none;
    margin-right: 5px;
}

.mapLegend{
     float: right;
     display: block;
     border: double black 5px;
     border-right: none;
     padding: 1em;
     padding-right: 10%;
     margin: 0.7em;
 }
#right ul li{
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 2px;
}

#litems{
    font-size: 1.5em;
}

#sortableContainer {

    height: 50vh;
    width: 75%;
    margin: 0 auto;
    overflow-y: auto;

}

#techList {
    width: 50%;
    float: left;
}

#containers {
    width: 50%;
    float: right;
}

.cont {
    width: 70%;
    background-color: #636c72;
    border-radius: 5px;
    height: 20vh;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow-y: auto;
}