#view {
    position: relative;
    top: 5vh;
}

#right {
    float: right;
    margin-right: 5%;
    overflow-y: auto;
    height: 30vh;
    width: 20%;
}

#left {

}

#right ul {
    list-style-type: none;
}

#right ul li{
    border: solid;
    border-radius: 1%;
}
